@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  
}

.container {width: 95%; margin: auto;}

.link{
  text-decoration: none;
  color: #373737;
  font-weight: 500;
}

.link:hover {
  color: #ff5252;

}


.MuiBadge-badge {
  background-color: #ff5252 !important;
}